* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #4C4C4C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
img {
    padding: 0;
    margin: 0;
}


ul {
    list-style: none;
}


h1,
h3,
h4 {
    font-family: 'Georgia', sans-serif;
    font-size: 35px;
    line-height: 130%;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #545454;
}

a {
    text-decoration: none;
    color: #000;
}

.section {
    width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-title {
    font-family: 'Georgia', sans-serif;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo-subtitle {
    font-size: 13px;
    letter-spacing: 0.10em;
    color: #292929;
    padding-left: 4px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 39px 26px 40px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    gap: 36px;
    line-height: 55px;
}

.nav-link {
    color: #545454;
    font-weight: 300;
}

.nav-link:hover {
    color: #292929;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.nav-link-first {
    text-decoration: underline;
    color: #292929;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    cursor: default;
    pointer-events: none;
}

.burger {
    display: none;
}

#our-friends {
    background-color: #F6F6F6;
}

.our-friends {
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.our-friends-heading {
    margin: 0;
    text-align: center;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 40px;
    
}

.slider-el {
    background-color: #FAFAFA;
    border-radius: 9px;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-el:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
}

.slider-name {
    margin: 29px 0;
}

.slider-button {
    font-family: 'Georgia', sans-serif;
    padding: 15px 42px;
    color: #292929;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0.06em;
    border-radius: 28px;
    margin-bottom: 30px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    width: 188px;
    height: 52px;
}

.slider-el:hover > .slider-button {
    border: 2px solid #FDDCC4;       
    background-color: #FDDCC4;
    cursor: pointer;
    transition: 0.3s;
}

.slider-paginators {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', sans-serif;
    color: #CDCDCD;
    font-size: 20px;
    line-height: 130%;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    
}

.slider-paginator-active,
.slider-paginator-next,
.slider-paginator-last {
    color: #292929;
}

.slider-paginator-active,
.slider-paginator-prev:hover,
.slider-paginator-first:hover {
    cursor: pointer;
    pointer-events: none;
}

.slider-paginator-active {
    border: 2px solid #FDDCC4;       
    background-color: #FDDCC4;
}

.slider-paginator-next:hover,
.slider-paginator-last:hover {
    border: 2px solid #FDDCC4;       
    background-color: #FDDCC4;
    cursor: pointer;
    transition: 0.3s;
}

.footer {
    background-image: url(../../assets/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    display: flex;
    padding: 40px 40px 0;
    gap: 128px;
}

.footer-left,
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 63px;
    height: 234px;
    width: 310px;
}

.footer-heading {
    color: #FFFFFF;
}

.footer-text {
    color: #F1CDB3;
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 300;
    letter-spacing: 0.06em;
}

.footer-right {
    position: relative;
    width: 300px;
}

.footer-img {
    position: absolute;
    width: 100%;
    left: 24px;
    bottom: 0;
}


@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .nav {
        padding-left: calc(40 * 100vw / 1280);
        padding-right: calc(40 * 100vw / 1280);
    }

    .nav-list {
        gap: calc(36 * 100vw / 1280);
    }

    .footer-container {
        padding-left: calc(40 * 100vw / 1280);
        padding-right: calc(40 * 100vw / 1280);
        gap: calc(128 * 100vw / 1280);
    }

    .footer-left,
    .footer-center {
        width: calc(310 * 100vw / 1280);
    }

    .footer-right {
        width: calc(300 * 100vw / 1280);
    }

    .footer-img {
        left: calc(24 * 100vw / 1280);
    }
}

@media (max-width: 1000px) {

    .footer-container {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: calc(100 * 100vw / 1000);
    }

    .footer-left,
    .footer-center {
        margin-top: 0;
        margin-bottom: 0;
        width: calc(310 * 100vw / 1000);
    }

    .footer-right {
        height: 310px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-container {
        padding-left: calc(30 * 100vw / 768);
        padding-right: calc(30 * 100vw / 768);
    }

    .nav {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 26px;
    }

    .nav-list {
        gap: calc(36 * 100vw / 768);
    }

    .our-friends {
        gap: 30px;
        padding-bottom: 76px;
    }

    .slider {
        justify-content: center;
    }

    .slider-el:nth-child(7),
    .slider-el:nth-child(8) {
        display: none;
    }

    .slider-paginators {
        padding-top: 12px;
    }

    .footer-container {
        flex-wrap: wrap;
        align-items: center;
        padding-top: 30px;
        padding-left: calc(63 * 100vw / 768);
        padding-right: calc(63 * 100vw / 768);
        column-gap: calc(60 * 100vw / 768);
        row-gap: calc(65 * 100vw / 768);
    }

    .footer-left {
        margin-top: 0;
        margin-bottom: 0;
        width: calc(279 * 100vw / 768);
    }

    .footer-center {
        margin-top: 0;
        margin-bottom: 0;
        width: calc(300 * 100vw / 768);
    }

    .footer-right {
        height: calc((300 * 100vw / 768) / 0.9677);
    }

    .footer-img {
        left: 0;
        width: calc(300 * 100vw / 768);
    }

}

@media (max-width: 700px) {

    .nav-list {
        display: none;
    }

    .burger {
        display: block;
        align-self: center;
    }

    .slider {
        justify-content: center;        
    }

    .slider-paginators {
        gap: calc(20 * 100vw / 700);
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 39px;
        padding-top: 30px;
        padding-left: calc(12 * 100vw / 700);
        padding-right: calc(12 * 100vw / 700);
    }

    .footer-left,
    .footer-center {
        align-items: center;
        gap: 40px;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: auto;
    }

    .footer-center .footer-div {
        text-align: left;
    }

    .footer-heading {
        padding-left: 2px;
    }

    .footer-right {
        height: calc((300 * 100vw / 700) / 0.9677);
    }

    .footer-img {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(300 * 100vw / 700);
    }

}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    h1, h3 {
        letter-spacing: 0.06em;
        font-size: 25px;
    }

    .header-container {
        padding: 0;
    }

    .nav {
        padding-left: calc(20 * 100vw / 320);
        padding-right: calc(20 * 100vw / 320);
        padding-top: 21px;
        padding-bottom: 25px
    }

    .our-friends {
        padding-top: 43px;
        padding-bottom: 43px;
        padding-left: calc(15 * 100vw / 320);
        padding-right: calc(15 * 100vw / 320);
        gap: 42px;
    }

    .slider-el:nth-child(4),
    .slider-el:nth-child(5),
    .slider-el:nth-child(6) {
        display: none;
    }

    .slider-paginators {
        padding-top:0;
    }

    .footer-container {
        padding-left: calc(12 * 100vw / 320);
        padding-right: calc(12 * 100vw / 320);
    }

    .footer-center {
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-right {
        height: calc((260 * 100vw / 320) / 0.9665);
    }

    .footer-img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(260 * 100vw / 320);
    }
}