* {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #4C4C4C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

p, h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
}

.section {
    width: 100%;
}

@media (max-width: 1280px) {
    .section {
        width: 100%;
    }

    .nav-list {
        overflow-x: auto;
        white-space: nowrap;
    }
}

.header-container {
    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

ul {
    list-style: none;
}

.container {
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 0 20px;
    line-height: 50px;

}

.nav-link {
    color: white;
}

.not-only {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: 'Georgia', sans-serif;
    font-size: 35px;
    line-height: 130%;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #545454;
}

.about {
    display: flex;
    margin: 80px 40px 100px 40px;
}

.about-left {
    margin: 14px 120px 14px 175px;
}

.about-img {
    width: 300px;
    height: 408px;
}

.about-right {
    margin: 14px 175px 14px 0;
}

.about-heading {
    margin: 0 60px 25px 0;
}

.about-first-p {
    margin-bottom:  25px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover {
    font-weight: bolder;
    cursor: pointer;
}

.our-friends {
    background-color: #F6F6F6;
    padding: 80px 40px 100px 40px;
}

.our-friends-heading {
    margin: 0 400px 60px 400px;
    text-align: center;
}

.slider {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.slider-el {
    background-color: #FAFAFA;
    margin-right: 90px;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-name {
    margin: 30px 0;
}

.our-friends-button {
    padding: 15px 45px;
    color: #292929;
    font-size: 17px;
    line-height: 130%;
    border-radius:28px;
}

.slider-button {
    margin-bottom: 30px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
}

.slider-right {
    margin-right: 0;
}

.slider-button-left {
    margin: 192px 53px 192px 0;
}

.slider-button-right {
    margin: 192px 0 192px 53px;
}

.our-friends-button-bottom {
    margin: 0px 470px;
    background-color: #F1CDB3;
    border: 0;
}

#help {
    padding: 80px 40px 100px 40px;
}

.help-heading{
    margin: 0 446px 60px 446px;
    text-align: center;
}

.help-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    margin: 0 87px;
    gap: 55px;
}

.help-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 120px 55px 0;
}

.in-addition {
    display: flex;
    justify-content: space-between;
    padding: 80px 182px 100px 182px;
    background-color: #F6F6F6;
}

.in-addition-img {
    width: 505px;
    height: 261px;
    margin: 10px 30px 10px 0;
}

.in-addition-heading {
    margin: 0 80px 20px 0;
}

.in-addition-subheading {
    font-family: 'Georgia', sans-serif;
    font-size: 15px;
    line-height: 110%;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 42px 20px 0;
}

.in-addition-data {
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #F1CDB3;
    border-radius: 10px;
    display: flex;
    align-items:center;
    gap: 15px;
    justify-content: flex-start;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    line-height: 110%;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #545454;
}

.in-addition-p {
    font-size: 12px;
    font-style: italic;
    color: #B2B2B2;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    
    background-image: url(../../assets/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px 0 40px;
}

.footer-left, .footer-center {
    margin-top: 16px;
    margin-right: 160px;
    width: 302px;
}

.footer-heading {
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-div {
    margin-bottom: 40px;
    display: flex;
    align-items:center;
    gap: 20px;
    justify-content: flex-start;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer-right {
    position: relative;
    width: 300px;
}

.footer-img {
    position: absolute;
    bottom: 0;
    left: 0; 
}